{% load url from future %}

{% if ERR_form_not_valid %}
<div class="alert alert-error">
    Please check the error below.
</div>
{% endif %}
<form method="get" action="{% url 'view_dac_meeting_report' %}"  class="form-horizontal">
        {#% csrf_token %#}
    <table id="tbl_dac_filter_form" class="table table-bordered">
    <tr>
        
{% for field in dac_form %}
           
            {% if field.name == 'end_date' or field.name == 'nominated_for_prize' %}
                <br /> <br />   
            {% else %}
            <td>
            {% endif %}
                
            {{ field.label }}<br />
            {% if field.help_text %}({{ field.help_text|safe }}){% endif %}
            {% if field.errors %}
                    <br /><span class="text-error">
                        {% for err in field.errors %}
                           {{ err }} 
                        {% endfor %}</span> <br />
               {% endif %}
                {{ field }} 
                    
            {% if field.name == 'meeting_status' %}
                <a id="lnk_uncheck_meeting_status">uncheck all</a>
            {% endif %}
            {% if field.name == 'g_year' %}
                <a id="lnk_uncheck_g_year">uncheck all</a>
            {% endif %}
            {% if field.name == 'meeting_type' %}
                <a id="lnk_uncheck_meeting_type">uncheck all</a>
            {% endif %}
            
            
            {% if field.name == 'start_date' %}
            {% else %}{% if field.name == 'end_date' %}
            {% else %}
                </td>
            {% endif %}{% endif %}
{% endfor %}
    </tr>
    <tr>
        <td colspan="4" style="text-align:right;">        <a class="btn" href="{% url 'view_dac_meeting_report' %}">Reset</a>
                &nbsp; <input type="submit" name="submit" value="List DACs" class="btn btn-primary" /></td>
    </tr>
</table>
                
</form>