{% load url from future %}
<p>
    <strong>Number of Faculty Members:</strong> {{ num_faculty_members }}
{% if num_faculty_members > 0 %}&nbsp; 
    {% comment %}{% endcomment %}
<a href="{% url 'view_faculty_contacts_spreadsheet' %}{% if QUERY_STRING %}?{{ QUERY_STRING }}{% endif %}"><span class="label label-success">download as Excel <i class="icon-download icon-white"></i> </span></a> 
    
{% endif %}
</p>
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>#</th>
            <th>is MCO?</th>
        	<th>Name</th>
        	<th>Status</th>
        	<th>Email<br />(website)</th>
        	
        	<th>Phone</th>
        	<th>Office</th>
            <th>Assistant</th>
            <th>Assistant<br />Email</th>
            <th>Assistant<br />Phone</th>

            <th>Assistant<br />Office</th>
        </tr>
    </thead>
    <tbody>
{% for fm in faculty_members %}
    {% ifchanged fm.department %}
        <tr>
            <td colspan="11"><br /><br /><strong>{{ fm.department }}</strong></td>
        </tr>
    {% endifchanged %}
    
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{% if fm.member_of_training_grant %}
                    <span class="label label-success">MCO</span>
                {% else %}
                    <span class="label">non-MCO</span>
                {% endif %}
            </td>
            <td><a href="{% url 'view_faculty_profile' fm.id_hash %}">{{ fm.last_name }}, {{ fm.first_name }}</a>
            
                {% if fm.second_department %}
                    <br />({{ fm.department.abbreviation }} / {{ fm.second_department.abbreviation }})
                {% endif %}
                <br /><a href="{{ fm.get_admin_link }}">(e)</a></td>
            <td>{{ fm.status }}</td>
            <td><a href="mailto:{{ fm.email }}">{{ fm.email }}</a>
                {% if fm.second_email %}<br /><a href="mailto:{{ fm.second_email }}">{{ fm.second_email }}</a>{% endif %}
                {% if fm.website %}
                    <br />(<a href="{{ fm.website }}">website</a>)
                {% endif %}
                </td>
            
            <td>{{ fm.phone }}</td>
            
            <td>{% if fm.room %} 
                    {{ fm.room }}
                {% else %}{% if fm.building %}
                    {{ fm.building.abbrev }}
                {% else %}(n/a)
                {% endif %}{% endif %}
                </td>
            {% if not fm.faculty_assistant %}
                <td colspan="4">&nbsp;</td>
            {% else %}
                <td>{{ fm.faculty_assistant }}</td>
                <td><a href="mailto:{{ fm.faculty_faculty_assistant.email }}">{{ fm.faculty_assistant.email }}</a></td>
                <td>{{ fm.faculty_assistant.phone }}</td>
                <td>{% if fm.faculty_assistant.room %} 
                        {{ fm.faculty_assistant.room }}
                    {% else %}{% if fm.faculty_assistant.building %}
                        {{ fm.faculty_assistant.building.abbrev }}
                    {% else %}(n/a)
                    {% endif %}{% endif %}</td>
            {% endif %}            
            {% comment%}    
            {% endcomment%}    
        </tr>
{% empty %}
        <tr>
            <td colspan="10">
                <div class="alert alert-error">No DAC meetings found for this time period.</div>
            </td>
        </tr>
{% endfor %}
    </tbody>
</table>

